<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--添加日志-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--批量定义实体类名（大写或小写）-->
    <typeAliases>
        <package name="com.huayu.mybitsplus.pojo"></package>
    </typeAliases>

    <!--加载sql映射文件-->
    <mappers>
        <package name="com.huayu.mybitsplus.mapper"/>
    </mappers>

</configuration>